---
import BaseLayout from '../../layouts/Layout.astro';
import QueryProvider from '../../components/QueryProvider';

interface AuthorType {
	id: string;
	username: string;
}
interface PostDataType {
	_id: string;
	author: AuthorType;
	title: string;
	body: string;
	published: boolean;
	timestamp: string;
}
export async function getStaticPaths() {
    const response =  await fetch('https://blog-api-ol7v.onrender.com/v1/posts'); 
    const data = await response.json();
    const posts = await data.posts;
    return posts.map((p: PostDataType ) => {
       return {params: {post: p._id}, props: {postData: p, author: p.author}}
    })
}

const { postData } = Astro.props;

---
<BaseLayout title={postData.title}>
    <h1 class="text-3xl py-10 text-center">{postData.title}</h1>
    <p class="opacity-50">{new Date(postData.timestamp).toLocaleDateString()}</p>
    <p class="opacity-100"><span class="opacity-50">by </span>{postData.author.username}</p>
    <main class="grid auto-cols-auto gap-5">
        <p set:html={postData.body} class="my-5"></p>
    </main>
    <hr/>
    <QueryProvider client:visible id={postData._id}/>
</BaseLayout>


