---
interface AuthorType {
	id: string;
	name: string;
}
interface PostDataType {
	_id: string;
	author: AuthorType;
	title: string;
	body: string;
	published: boolean;
	timestamp: string;
}
interface Props {
	data: PostDataType
}

const { data } = Astro.props;
const dateInfo = new Date(data.timestamp); 

---

<li class="flex gap-2">
	<div class="grid place-content-start  border-r-2 border-ivory h-fit justify-items-end font-bold font-georgia text-md">
		<p class="px-3 text-xl">{dateInfo.getDay()}</p>
		<p class="px-3"> {dateInfo.toLocaleString('default', { month: 'short'})}</p>
		<p class="px-3 bg-ivory w-full text-black-brown">{dateInfo.getFullYear()}</p>
	</div>
	<div>
		<div class="grid gap-2">
			<a href={`/blog/post/${data._id}`}>
				<h2 class="text-2xl hover:underline font-georgia font-bold select-none">
					{data.title}
				</h2>
			</a>
			<section class="line-clamp-4 md:line-clamp-6 font-georgia text-sm opacity-70 select-none">
				<Fragment set:html={data.body}/>	
			</section>
			<a href={`/blog/post/${data._id}`} class="w-full text-end hover:underline">Read more...</a>
		</div>
	</div>
</li>
<style is:global>
.markdown{
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
</style>
